    <!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>MMS: Manage My Stock - Logout</title>
    <!-- Include the Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body class="bg-dark">
<h1 class="text-light">Logout</h1>
<p class="text-light">You have successfully logged out of your account.</p>
<p class="text-light">Click <a href="home">here</a> to access the Application again</p>
</body>
</html>

